-e git+https://github.com/ButchershopCreative/s3utils.git@ba215b747fdd59805d62be3766d62f10acf15f78#egg=s3utils-dev
bleach==1.2.2
boto==2.9.4
dj-database-url==0.2.1
django-debug-toolbar==0.9.4
django-storages==1.1.8
Django==1.5.1
grappelli-safe==0.2.21
html5lib==1.0b1
Mezzanine==1.4.7
Pillow==1.7.8
pip-tools==0.3.1
psycopg2==2.5
pytz==2013b
raven==3.3.7
six==1.3.0
South==0.7.6
verlib==0.1
