-e git+https://github.com/ButchershopCreative/s3utils.git@ba215b747fdd59805d62be3766d62f10acf15f78#egg=s3utils-dev
bleach==1.4
boto==2.27.0
dj-database-url==0.3.0
django-debug-toolbar==1.0.1
django-storages==1.1.8
Django==1.6.2
filebrowser-safe==0.3.2
future==0.11.4
grappelli-safe==0.3.7
html5lib==0.999
Mezzanine==3.0.9
oauthlib==0.6.1
Pillow==2.3.1
pip-tools==0.3.4
psycopg2==2.5.2
pytz==2014.2
raven==4.1.1
requests-oauthlib==0.4.0
requests==2.2.1
six==1.6.1
South==0.8.4
sqlparse==0.1.11
tzlocal==1.1.1
verlib==0.1
