bleach==1.2.1
boto==2.8.0
dj-database-url==0.2.1
django-debug-toolbar==0.9.4
django-storages==1.1.6
Django==1.4.5
filebrowser-safe==0.2.16
grappelli-safe==0.2.12
html5lib==0.95
Mezzanine==1.4.2
Pillow==1.7.8
pip-tools==0.2.1
psycopg2==2.4.6
pytz==2012j
raven==3.1.15
./s3utils
South==0.7.6
